body {
    background-color: #efeee7;
    font-family: "Bookman Old Style", 'Times New Roman', 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 150%;      
}
       
h1 {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    color: #efeee7;
    font-size: 50px;
    background-color: #333333;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
}

#main-bio {
    width: 70%;
    text-align: justify;
}

#bio-image {
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

p {
    text-align: justify
}

h2 {
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    font-size: 45px;
    color: #333333;
}

#contact-info {
    width: 30%;
}

a {
    color: blue;
}